
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tivi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="~/Content/Products.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
    <nav class="nav navbar-inverse" align="left">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" onClick="openNav();">Aution Market</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='fas fa-desktop' style='font-size:16px'></i> Electronice Device<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Tivi</a></li>
                        <li><a href="">Audio Speakers</a></li>
                        <li><a href="">Air-conditioner</a></li>
                        <li><a href="">Computer</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='fas fa-mobile-alt' style='font-size:16px'></i> Phone</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='fas fa-plug' style='font-size:16px'></i> Electric Appliances<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../chicken.html">Electric cooker</a></li>
                        <li><a href="../Pizza.html">oven mitts</a></li>
                        <li><a href="../humberger.html">iron</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='fas fa-couch' style='font-size:16px'></i> Furniturer<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=""></a></li>
                        <li><a href="../l">Sofa</a></li>
                        <li><a href="">Bed</a></li>
                        <li><a href="">Table</a></li>
                        <li><a href="../l">Lamp</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='fas fa-clock' style='font-size:16px'></i> Watch,Clock</a></li>
                <li><a href="#"><i class="fa fa-fw fa-search"></i> Search</a> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"> Log-out</span></a></li>
                <div id="id01" class="modal">
                    <form class="modal-content animate">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="../avatar-female-icon-design-vector-png_118679 (1).jpg" alt="Avatar" class="avatar">
                        </div>
                    </form>
                 </div>
            </ul>
        </div>
        <!--đóng của nav class-->
    </nav>


    <div class="content-wrapper">
        <div class="main-wrapper">
            <div class="menu-food">
                <div class="container">
                    <h1 class="title">
                        Tivi
                    </h1>
                    <span class="line"></span>
                    <div class="row list-food">
                        <div class="col-lg-3 col-sm-4">
                            <div class="card">
                                <div class="top-section">
                                    <img src="~/Image/image_home/hinh anh page home/1-7.jpg" alt="" width="250px" height="150px">

                                    <div class="price">$80</div>
                                </div>

                                <div class="product-info">
                                    <div class="name">Sanglasses</div>
                                    <div class="dis">Awesome Men Sanglasses</div>
                                    <a class="btn" href="#">Add to Cart</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="top-section">
                                    <img src="~/Image/image_home/hinh anh page home/1-7.jpg" alt="" width="250px" height="150px">

                                    <div class="price">$80</div>
                                </div>

                                <div class="product-info">
                                    <div class="name">Sanglasses</div>
                                    <div class="dis">Awesome Men Sanglasses</div>
                                    <a class="btn" href="#">Add to Cart</a>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="top-section">
                                    <img src="~/Image/image_home/hinh anh page home/1-7.jpg" alt="" width="250px" height="150px">

                                    <div class="price">$80</div>
                                </div>

                                <div class="product-info">
                                    <div class="name">Sanglasses</div>
                                    <div class="dis">Awesome Men Sanglasses</div>
                                    <a class="btn" href="#">Add to Cart</a>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="top-section">
                                    <img src="~/Image/image_home/hinh anh page home/1-7.jpg" alt="" width="250px" height="150px">

                                    <div class="price">$80</div>
                                </div>

                                <div class="product-info">
                                    <div class="name">Sanglasses</div>
                                    <div class="dis">Awesome Men Sanglasses</div>
                                    <a class="btn" href="#">Add to Cart</a>
                                </div>

                            </div>
                        </div>

                      

                    </div>

                </div>

            </div>

        </div>

    </div>



    <script type="text/javascript">
                        var container = document.getElementById("image-container");
                        function change_img(image) {
                          container.src = image.src;
                        }
    </script>
</body>
</html>
