
@{
    ViewBag.Title = "HistoryAuction";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<h2>HistoryAuction</h2>
<table class="table">
    <thead>
        <tr>
            <th class="border-0 text-uppercase small font-weight-bold">Product</th>
            <th class="border-0 text-uppercase small font-weight-bold">Date Auction</th>
            <th class="border-0 text-uppercase small font-weight-bold">Date End</th>
            <th class="border-0 text-uppercase small font-weight-bold">Price Auction</th>
            <th class="border-0 text-uppercase small font-weight-bold">Posted by</th>
            <th class="border-0 text-uppercase small font-weight-bold">Status</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

