*{
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
}

.testimonial-section{
  background-image:url(../Image/image_AboutUs/WEBSITE-WOOD-BACKGROUND.jpg);
  padding: 300px 0;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1{
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 40px;
  color:#FFF;
}

.testimonial-pics{
  padding: 40px 0;
}
.testimonial-contents p{	
  font-size: 20px;
  color:#FFF;
}
.testimonial-pics img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: .3s;
  cursor: pointer;
}

.testimonial-pics img:hover, .testimonial-pics img.active{
  filter: none;
}


.testimonial-contents{
  max-width: 600px;
  margin: auto;
}

.testimonial{
  display: none;
}

.testimonial.active{
  display: block;
}



.testimonial .description{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

/* cuoi trang */
* {
    box-sizing: border-box;
}
/* Float four columns side by side */
.columnn {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.roww {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnn {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #5B2E00;
    color: white;
}

.fa {
    font-size: 20px;
}

