@model IEnumerable<Project_HKIII_Auction.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent Product</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Category Id </th>
                                    <th> Category Name </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td>@i.CId</td>
                                        <td>@i.CName</td>
                                        <td>@Html.ActionLink("Delete", "DeleteCate", "Admin")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>